.product-card {
  background-color: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: 0.6s;
}

.product-card:hover {
  transform: scale(1.07);
}

.product-image img {
  max-width: 100%;
  border-radius: 8px;
}

.product-title {
  margin-top: 10px;
}

.product-title h2 {
  font-size: 18px;
  margin: 0;
  color: #333;
}

.product-price p {
  font-size: 16px;
  margin: 10px 0 0;
  color: #555;
}