
.cart-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.cart-container h2{
  text-align: center;
}

.cart-item-image{
  width: 200px;

}

.cart-item-remove{
  width: 100px;
  text-align: center;

} */



td img{
  height: 100%;
} 

.cart-item{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

th{
  padding: 20px 10px;
}

td{
  width: 100px;
  text-align: center;
  padding: 10px 0px;
  height: 250px;
  font-size: 20px;
}

td > button{
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  
}

td > input{
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  outline-width: 0;
  font-size: 20px;
}

.cart-total-price{
  margin-top: 20px;
  
}
