  @import url('https://fonts.googleapis.com/css2?family=Alata&family=Bitter&family=Mukta&family=Roboto:wght@500&family=Saira+Condensed:wght@300&family=Secular+One&display=swap');

* {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.video-hero-animation__video {
  width: 40%;
}

.videoAn {
  position: absolute;
}

video {
  position: relative;
  top: 10%;
  left: 60%;
  object-fit: contain;
  overflow: clip;
}
.headerGreeting{
  position: absolute;
}
.welcomeP{
  position: relative;
  top: 100px;
  left:16%;
  font-size: 45px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  max-width: 58%;
  color: rgb(0, 0, 0);
}
.parag  {
  position: relative;
  top: 120px;
  left:16%;
  font-size: 17px;
  font-family: 'Bitter', sans-serif;
  max-width: 55%;
  color: rgb(71, 71, 71);
}
.headerGreeting a{
  position: relative;
  top: 150px;
  left:16%;
  border-radius: 20%;
  background-color: #073042;
  color: white;
  border-style: none;
  font-weight: bold;
  padding: 15px 20px;
  text-decoration: none;
}
 .headerGreeting a:hover{
  position: relative;
  top: 145px;
  left:16%;
  padding: 15px 20px;
  border-radius: 20%;
  background-color: #4fb895;
  color: white;
  border-style: none;
  font-weight: bold;
  transition: color .3s linear;
  z-index: 1;
} 